### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
#Total number of schools
list_of_schools = school_data_complete["school_name"].unique()
print("The Total Number of Schools is " + str(len("list_of_schools")))

The Total Number of Schools is 15

In [4]:
#total number of students
print("The Total Number of students: " + str(school_data_complete["Student ID"].count()))

The Total Number of students: 39170

In [5]:
#total budget????
list_of_Budges = school_data_complete["budget"].unique()
print(list_of_Budges)

[1910635 1884411 1056600 3022020  917500 1319574 1081356 3124928  248087
  585858 1049400 2547363 3094650 1763916 1043130]

In [6]:
#each budget is unique
print("The total budget is " + str(sum(list_of_Budges)))

The total budget is 24649428

In [7]:
#Average Scores
AvMath = school_data_complete["math_score"].mean()
AvMath

78.98537145774827

In [8]:
AvRead = school_data_complete["reading_score"].mean()
AvRead

81.87784018381414

In [9]:
#percentage passing math
MathPass_df = school_data_complete.loc[school_data_complete["math_score"] >= 70 ]["Student ID"]
PercentMathPass = (MathPass_df.count())/ (school_data_complete["Student ID"].count())*100
PercentMathPass

74.9808526933878

In [10]:
#percentage passing reading
ReadPass_df = school_data_complete.loc[school_data_complete["reading_score"] >= 70 ]["math_score"]
PercentReadPass = (ReadPass_df.count())/ (school_data_complete["math_score"].count())*100
PercentReadPass

85.80546336482001

In [11]:
pass_read_math = (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
OverallPass_df = school_data_complete.loc[pass_read_math]["math_score"]
PercentOvrPass = (OverallPass_df.count())/ (school_data_complete["math_score"].count())*100
PercentOvrPass

65.17232575950983

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [12]:
#build the data frame
District_Summary_df = pd.DataFrame({
    "Total Schools": [str(len("list_of_schools"))],
    "Total Students": [str(school_data_complete["Student ID"].count())],
    "Total Budget": [sum(list_of_Budges)],
    "Average Math Score": [AvMath],
    "Average Reading Score": [AvRead],
    "% Passing Math": [PercentMathPass],
    "% Passing Reading": [PercentReadPass],
    "% Passing Overall": [PercentOvrPass]
})
District_Summary_df
#don't forget to format this data
District_Summary_df["Total Budget"] = District_Summary_df["Total Budget"].map("${:.2f}".format)
District_Summary_df["% Passing Math"] = District_Summary_df["% Passing Math"].map("{:.2f}".format)
District_Summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
0,15,39170,$24649428.00,78.985371,81.87784,74.98,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [64]:
#Huang High School numbers
school_dex = school_data_complete.set_index("school_name")
Huang_df = school_dex.loc["Huang High School"]
Huang_df.head()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635

In [65]:
#Huang High School numbers
school_dex = school_data_complete.set_index("school_name")
Huang_df = school_dex.loc["Huang High School"]
Huang_df.head()
Huang_type = Huang_df["type"]
Huang_type[1]
Huang_Stu_Pop = school_dex.loc["Huang High School", "Student ID"].count()
Huang_Stu_Pop
Huang_budget = Huang_df["budget"]
Huang_budget[1]
Huang_Mth_Avg = (Huang_df["math_score"].sum() / Huang_Stu_Pop)

school_dicts = [{"Name": "Huang High School",
                 "School Type": Huang_type[1],
                "Total Students": Huang_Stu_Pop,
                "Total School Budget": Huang_budget[1],
                "Per Student Budget": (Huang_budget[1] / Huang_Stu_Pop),
                "Average Math Score": Huang_Mth_Avg
                }
               ]
school_dicts

[{'Name': 'Huang High School',
  'School Type': 'District',
  'Total Students': 2917,
  'Total School Budget': 1910635,
  'Per Student Budget': 655.0,
  'Average Math Score': 76.62941378128214}]

In [48]:
#Huang High School numbers


Huang_budget = school_dex.loc["Huang High School", "budget"].()

2917

In [ ]:
Huang_Stu_Pop = school_dex.loc["Huang High School", "Student ID"].count()
Huang_type = school_dex.loc["Huang High School", "type"].unique()
school_dex.loc["Huang High School", school_dex["math_score"] >= 70 ]
print(str(Huang_type) + str(Huang_Stu_Pop) + str(Huang_Math_Pass))

In [36]:
#find list of school names
list_of_schools
len(list_of_schools)

15

In [32]:
#find each school within list of school names
list_of_schools[0]

'Huang High School'

In [14]:
SSum_df = pd.DataFrame({"School Names": [list_of_schools] })
SSum_df

                                        School Names
0  [Huang High School, Figueroa High School, Shel...

['District']2917school_name
Huang High School    79
Huang High School    61
Huang High School    60
Huang High School    58
Huang High School    84
                     ..
Huang High School    95
Huang High School    81
Huang High School    73
Huang High School    85
Huang High School    73
Name: math_score, Length: 2917, dtype: int64

In [24]:
#find Total Students per school
groupby_df = school_data_complete.groupby(["school_name"])
Stu_Pop = groupby_df["Student ID"].count()
print(Stu_Pop)
#the counts in each category are the same bc it is the # of observations for each 
#This is really the number of students

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type